
        <!--headline encabezado-->
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">
            <table bgcolor="#FFFFFF" align="center" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td height="25"></td>
                </tr>
                <tr>
                    <td width="600" align="center">
                        <table  class="table-inner" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                            <!--dash-->
                            <tr>
                                <td align="center">
                                    <table align="center" width="100" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td height="25" style="border-bottom:2px solid ::color_base::; border-radius: 5px;"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <!--end dash-->
                            <tr>
                                <td height="15"></td>
                            </tr>
                            <!--headline-->
                            <tr>
                                <td class="fallback-font" align="center" style="font-family:'Montserrat', Arial, 'sans-serif'; text-transform: capitalize; font-size: 24px;color: #000000; height: 29px;">
                                    ¡Bienvenido ::nombre_completo::!
                                </td>
                            </tr>
                            <!--end headline-->
                            <tr>
                                <td height="5"></td>
                            </tr>
                            <!--sub headline-->

                                                    </table>
                    </td>
                </tr>
                <tr>
                    <td height="25"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--end headline-->
        
        <!-- 1/1 content -->
<table  width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">
            <table bgcolor="#ffffff" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="600">
                        <table  class="table-inner" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tr>
                                <td align="center" style="text-align:center;vertical-align:top;font-size:0;">
                                    <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td height="30"></td>
                                        </tr>
                                        <!-- title -->
                                        <tr>
                                            <td align="left">
                                                <table width="100%" border="0"  align="left" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td align="left" style="font-family:'Open Sans', Arial, 'sans-serif'; font-size: 14px;color: #122333; line-height: 28px;">
                                                          <div style="display:inline; white-space:nowrap;"> 
                                                            Gracias por registrarte en nuestro plan de lealtad
                                                          </div>
                                                          
                                                          <div style="display:inline-block;"> 
                                                             🙌
                                                          </div>
                                                          <div style="display:inline-block;"> 
                                                            🏻
                                                          </div>
                                                          <div style="display:inline-block;"> 
                                                            🎉
                                                          </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="8"></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" style="font-family:'Open Sans', Arial, 'sans-serif'; font-size: 14px;color: #122333; line-height: 28px;">
                                                         Ahora formas parte de nuestra familia y podrás acceder fácilmente a experiencias, promociones y descuentos especiales para que pueda disfrutar de tus productos favoritos, por mucho menos de lo que pagas habitualmente.
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <!-- end title -->
                                        <tr>
                                            <td height="15"></td>
                                        </tr>
                                        <!--content-->
										<!--
																				                                        <tr>
                                            <td align="left" style="font-family:'Open Sans', Arial, 'sans-serif'; font-size: 14px;color: #122333; line-height: 28px;">
                                           <b style="font-weight: bold;"> Hola 
											:</b></td>
                                        </tr>

                                        end content-->
                                        <tr>
                                            <td height="15"></td>
                                        </tr>

                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="25"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- end 1/1 content -->
        

