
        <!--headline encabezado-->
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">
            <table bgcolor="#FFFFFF" align="center" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td height="25"></td>
                </tr>
                <tr>
                    <td width="600" align="center">
                        <table  class="table-inner" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                            <!--dash-->
                            <tr>
                                <td align="center">
                                    <table align="center" width="100" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td height="25" style="border-bottom:2px solid  ::color_base:: ; border-radius: 5px; ">
											</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <!--end dash-->
                            <tr>
                                <td height="15"></td>
                            </tr>
                            <!--headline-->
                            <tr>
                                <td class="fallback-font" align="center" style="font-family:::font_family::; text-transform: capitalize; font-size: 24px;color: #000000 ;">
                                    ¡ACUMULASTE!
                                </td>
                            </tr>
                            <!--end headline-->
                            <tr>
                                <td height="5"></td>
                            </tr>
                            <!--sub headline-->

                                                    </table>
                    </td>
                </tr>
                <tr>
                    <td height="25"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--end headline-->
        
        <!-- 1/1 content -->
<table  width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">
            <table bgcolor="#ffffff" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="600">
                        <table  class="table-inner" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tr>
                                <td align="center" style="text-align:center;vertical-align:top;font-size:0;">
                                    <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td height="15"></td>
                                        </tr>
                                        <!--content-->
																				                                        <tr>
                                            <td align="center" style="font-family:::font_family::; font-size: 14px;color: #122333; line-height: 28px;">
                                           <b style="font-weight: bold;"> Hola 
											::nombre_completo:: </b>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="font-family:::font_family::; font-size: 14px;color: #122333; line-height: 28px;">
                                              Has acumulado ::sucursal_nombre:: ::fecha_actual::</td>
                                        </tr>
                                        <!--end content-->
                                        <tr>
                                            <td height="15"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="25"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- end 1/1 content --><!-- 1/1 content -->
<table  width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">
            <table bgcolor="#ffffff" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="600">
                        <table  class="table-inner" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tr>
                                <td align="center" style="text-align:center;vertical-align:top;font-size:0;">
                                    <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <!-- title -->
                                        <tr>
                                            <td align="left">
                                                <table width="90%" align="center" cellpadding="0" cellspacing="0" style="border:none; border-bottom: dashed 1px #aaaaaa;">
                                                    <tr>
                                                        <td class="fallback-font"  align="center" style="font-family:::font_family::; ">
                                                            <p style="font-family:::font_family::;  font-size: 16px; color: #666666; margin: 0 0 10px;">
                                                                ¡Felicidades! has acumulado:
                                                            </p>
                                                            <p style="font-family:::font_family::;  font-size: 22px;color: #26bc26; margin: 0;">
                                                                <span style="color: rgb(38, 188, 38); font-family: ::font_family::; font-size: 22px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: -webkit-center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">
																✚<span>&nbsp;</span></span><b style="color: rgb(38, 188, 38); font-family: ::font_family::; font-size: 22px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: -webkit-center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; font-weight: bold;">::simbolo_moneda:: 
																::puntos_acumulados::</b><span style="color: rgb(38, 188, 38); font-family: ::font_family::; font-size: 22px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: -webkit-center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">
																
																::nombre_moneda:: </span></p>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <!-- end title -->
                                        <tr>
                                            <td height="5"></td>
                                        </tr>
                                        <!--content-->
                                        <tr>
                                            <td align="center" style="font-family:::font_family::; font-size: 12px; color: #666666; line-height: 28px;">
                                                Tu nuevo saldo es de 
												<b style="color: rgb(102, 102, 102); font-family: ::font_family::; font-size: 12px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: -webkit-center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; font-weight: bold;">
												::simbolo_moneda:: ::puntos_disponibles:: ::nombre_moneda::</b>
												</td>
                                        </tr>
										<tr>
                                            <td align="center" style="font-family:::font_family::; font-size: 12px; color: #666666; line-height: 28px;">
                                                Saldo bloqueado: 
												<b style="color: rgb(102, 102, 102); font-family: ::font_family::; font-size: 12px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: -webkit-center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; font-weight: bold;">
												::simbolo_moneda:: ::puntos_bloqueados:: ::nombre_moneda::</b>
												</td>
                                        </tr>
										
                                        <!--end content-->
                                        <tr>
                                            <td height="30"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="25"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- end 1/1 content -->
        