        <!--headline encabezado-->
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">
            <table bgcolor="#FFFFFF" align="center" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td height="25"></td>
                </tr>
                <tr>
                    <td width="600" align="center">
                        <table  class="table-inner" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                            <!--dash-->
                            <tr>
                                <td align="center">
                                    <table align="center" width="100" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td height="25" style="border-bottom:2px solid #f6df4b ; border-radius: 5px;"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <!--end dash-->
                            <tr>
                                <td height="15"></td>
                            </tr>
                            <!--headline-->
                            <tr>
                                <td class="fallback-font" align="center" style="font-family:'Montserrat', Arial, 'sans-serif'; text-transform: capitalize; font-size: 24px;color: #000000;">
                                    Account statement
                                </td>
                            </tr>
                            <!--end headline-->
                            <tr>
                                <td height="5"></td>
                            </tr>
                            <!--sub headline-->

                                                    </table>
                    </td>
                </tr>
                <tr>
                    <td height="25"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--end headline-->

        
        <!-- 1/1 content -->
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody><tr>
        <td align="center">
            <table bgcolor="#ffffff" border="0" align="center" cellpadding="0" cellspacing="0">
                <tbody><tr>
                    <td width="600">
                        <table class="table-inner" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tbody><tr>
                                <td align="center" style="text-align:center;vertical-align:top;font-size:0;">
                                    <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tbody><tr>
                                            <td height="15"></td>
                                        </tr>
                                        <!--content-->
                                        <tr>
                                            <td align="center" style="font-family:&#39;Open Sans&#39;, Arial, &#39;sans-serif&#39;; font-size: 14px;color: #122333; line-height: 28px;">
                                                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quae tandem ista ratio est? Recte dicis; Sin aliud quid voles, postea. Istam voluptatem, inquit, Epicurus ignorat? Qualem igitur hominem natura inchoavit? Duo Reges: constructio interrete. 

                                            </td>
                                        </tr>
                                        <!--end content-->
                                        <tr>
                                            <td height="15"></td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
                <tr>
                    <td height="25"></td>
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody></table>


<!-- end 1/1 content --><!--1/1 panel-->
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>
    	<tr>
        <td align="center">
            <table bgcolor="#FFFFFF" align="center" border="0" cellpadding="0" cellspacing="0">
                <tbody><tr>
                    <td width="600" align="center">
                        <table class="table-inner" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tbody><tr>
                                <td align="center" style="line-height: 0px;">

                                    <!-- CONTENIDO -->
                                    <table cellspacing="0" cellpadding="4" style="width: 100%; border-collapse: collapse; border: none;">
                                        <tbody><tr>
                                            <td style="font-size: 14px;">

                                                     <!-- ITEM -->
                                                    <table cellspacing="0" cellpadding="4" style="border-bottom-style: solid; border-bottom-color: #aaaaaa; border-bottom-width: 1px; width: 100%; border-collapse: collapse; margin: 0;">
                                                        <tbody><tr>
                                                            <td style="font-size: 14px;">
                                                                <!-- DIV RESPONSIVO -->
                                                                <div style="margin-bottom: 0; width: 100%; display: block; float: none;">
                                                                    <!-- TABLA DE DATOS -->
                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="4" style="border-collapse: collapse;">
                                                                        <tbody><tr>
                                                                            <td width="40%">
                                                                                <!-- fecha -->
                                                                                <p style="font-family:&#39;Open Sans&#39;, Arial, &#39;sans-serif&#39;; font-size: 14px; line-height:normal; color: #666666; margin: 0 0 5px; padding: 0;">Noviembre 1, 2017</p>

                                                                                <!-- transanccion -->
                                                                                <p style="font-family:&#39;Open Sans&#39;, Arial, &#39;sans-serif&#39;; font-size: 12px; line-height: normal; color: #000000; margin: 0 0 5px; padding: 0;"> Texto del tipo de transacción</p>


                                                                            </td>
                                                                            <td width="40%" style="text-align: right";>
                                                                                <!-- movimiento -->
                                                                                <p style="font-family:&#39;Montserrat&#39;, Arial, &#39;sans-serif&#39;; color:  #e22722; font-weight: bold; margin: 0 0 5px; padding: 0;">
                                                                                    <span style="font-family:&#39;Montserrat&#39;, Arial, &#39;sans-serif&#39;; font-size: 18px; line-height: 26px; color:  #e22722; font-weight: bold; margin: 0 0 5px;">
                                                                                        Débito: -$1,200.00                                                                                    </span>
                                                                                </p>

                                                                                <p style="font-family:&#39;Open Sans&#39;, Arial, &#39;sans-serif&#39;; font-size: 12px; color: #000000; line-height: 16px; font-weight: bold; margin: 0 0 5px; padding: 0;">Balance: ¢852.00</p>

                                                                            </td>
                                                                        </tr>
                                                                    </tbody></table>
                                                                    <!-- END TABLA DE DATOS -->
                                                                </div>
                                                                <!-- END DIV RESPONSIVO -->
                                                            </td> <!-- /TD -->
                                                        </tr>
                                                        <!-- /TR -->
                                                    </tbody></table>
                                                    <!-- END ITEM -->
                                                                                                        <!-- ITEM -->
                                                    <table cellspacing="0" cellpadding="4" style="border-bottom-style: solid; border-bottom-color: #aaaaaa; border-bottom-width: 1px; width: 100%; border-collapse: collapse; margin: 0;">
                                                        <tbody><tr>
                                                            <td style="font-size: 14px;">
                                                                <!-- DIV RESPONSIVO -->
                                                                <div style="margin-bottom: 0; width: 100%; display: block; float: none;">
                                                                    <!-- TABLA DE DATOS -->
                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="4" style="border-collapse: collapse;">
                                                                        <tbody><tr>
                                                                            <td width="40%">
                                                                                <!-- fecha -->
                                                                                <p style="font-family:&#39;Open Sans&#39;, Arial, &#39;sans-serif&#39;; font-size: 14px; line-height:normal; color: #666666; margin: 0 0 5px; padding: 0;">Noviembre 2, 2017</p>

                                                                                <!-- transanccion -->
                                                                                <p style="font-family:&#39;Open Sans&#39;, Arial, &#39;sans-serif&#39;; font-size: 12px; line-height: normal; color: #000000; margin: 0 0 5px; padding: 0;"> Texto del tipo de transacción</p>


                                                                            </td>
                                                                            <td width="40%" style="text-align: right";>
                                                                            	<!-- movimiento -->
                                                                                <p style="font-family:&#39;Montserrat&#39;, Arial, &#39;sans-serif&#39;; color: #000000; font-weight: bold; margin: 0 0 5px; padding: 0;">
                                                                                    <span style="font-family:&#39;Montserrat&#39;, Arial, &#39;sans-serif&#39;; font-size: 18px; line-height: 26px; color: #000000; font-weight: bold; margin: 0 0 5px;">
                                                                                        Consumo: $4,500.00                                                                                    </span>
                                                                                </p>

                                                                                <p style="font-family:&#39;Open Sans&#39;, Arial, &#39;sans-serif&#39;; font-size: 12px; color: #000000; line-height: 16px; font-weight: bold; margin: 0 0 5px; padding: 0;">Balance: ¢852.00</p>

                                                                            </td>
                                                                        </tr>
                                                                    </tbody></table>
                                                                    <!-- END TABLA DE DATOS -->
                                                                </div>
                                                                <!-- END DIV RESPONSIVO -->
                                                            </td> <!-- /TD -->
                                                        </tr>
                                                        <!-- /TR -->
                                                    </tbody></table>
                                                    <!-- END ITEM -->
                                                                                                       <!-- ITEM -->
                                                    <table cellspacing="0" cellpadding="4" style="border-bottom-style: solid; border-bottom-color: #aaaaaa; border-bottom-width: 1px; width: 100%; border-collapse: collapse; margin: 0;">
                                                        <tbody><tr>
                                                            <td style="font-size: 14px;">
                                                                <!-- DIV RESPONSIVO -->
                                                                <div style="margin-bottom: 0; width: 100%; display: block; float: none;">
                                                                    <!-- TABLA DE DATOS -->
                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="4" style="border-collapse: collapse;">
                                                                        <tbody><tr>
                                                                            <td width="40%">
                                                                                <!-- fecha -->
                                                                                <p style="font-family:&#39;Open Sans&#39;, Arial, &#39;sans-serif&#39;; font-size: 14px; line-height:normal; color: #666666; margin: 0 0 5px; padding: 0;">Noviembre 2, 2017</p>

                                                                                <!-- transanccion -->
                                                                                <p style="font-family:&#39;Open Sans&#39;, Arial, &#39;sans-serif&#39;; font-size: 12px; line-height: normal; color: #000000; margin: 0 0 5px; padding: 0;"> Texto del tipo de transacción</p>


                                                                            </td>
                                                                            <td width="40%" style="text-align: right";>
                                                                                <!-- movimiento -->
                                                                                                                                               <p style="font-family:&#39;Montserrat&#39;, Arial, &#39;sans-serif&#39;; color: #26bc26; font-weight: bold; margin: 0 0 5px; padding: 0;">
                                                                                    <span style="font-family:&#39;Montserrat&#39;, Arial, &#39;sans-serif&#39;; font-size: 18px; line-height: 26px; color: #26bc26; font-weight: bold; margin: 0 0 5px;">
                                                                                        Crédito: +$2,000.00                                                                                    </span>
                                                                                </p>

                                                                                <p style="font-family:&#39;Open Sans&#39;, Arial, &#39;sans-serif&#39;; font-size: 12px; color: #000000; line-height: 16px; font-weight: bold; margin: 0 0 5px; padding: 0;">Balance: ¢852.00</p>

                                                                            </td>
                                                                        </tr>
                                                                    </tbody></table>
                                                                    <!-- END TABLA DE DATOS -->
                                                                </div>
                                                                <!-- END DIV RESPONSIVO -->
                                                            </td> <!-- /TD -->
                                                        </tr>
                                                        <!-- /TR -->
                                                    </tbody></table>
                                                    <!-- END ITEM -->
                                        
                                                                </div>
                                                                <!-- END DIV RESPONSIVO -->
                                                            </td> <!-- /TD -->
                                                        </tr>
                                                        <!-- /TR -->
                                                    </tbody></table>
                                                    <!-- END ITEM -->
                                                    
                                            </td>
                                        </tr>
                                    </tbody></table>
                                    <!-- TERMINA CONTENIDO -->

                                    <!-- ITEM SALDO -->
                                    <table cellspacing="0" cellpadding="4" style="width: 100%; border-collapse: collapse; margin: 0; border: none;">
                                        <tbody><tr>
                                            <td>
                                                <!-- DIV RESPONSIVO -->
                                                <div style="margin-bottom: 10px; width: 100%; display: block; float: none;">
                                                    <!-- TABLA DE DATOS -->
                                                    <table cellspacing="0" cellpadding="20" style="width: 100%; border-collapse: collapse; border: none;">
                                                        <tbody><tr>
                                                            <td>
                                                                <p style="font-family:&#39;Montserrat&#39;, Arial, &#39;sans-serif&#39;; font-size: 26px; line-height: normal; color: #000000; margin: 0 0 5px; padding: 0;">
																Balance: $22,586.00</p>
                                                            </td>
                                                        </tr>
                                                    </tbody></table>
                                                    <!-- END TABLA DE DATOS -->
                                                </div>
                                                <!-- END DIV RESPONSIVO -->
                                            </td> <!-- /TD -->
                                        </tr>
                                        <!-- /TR -->
                                    </tbody></table>
                                    <!-- END ITEM -->
                                </td>
                            </tr>

                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody></table>
<!--end 1/1 panel-->
