
        <!--headline encabezado-->
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">
            <table bgcolor="#FFFFFF" align="center" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td height="25"></td>
                </tr>
                <tr>
                    <td width="600" align="center">
                        <table  class="table-inner" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                            <!--dash-->
                            <tr>
                                <td align="center">
                                    <table align="center" width="100" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td height="25" style="border-bottom:2px solid ::color_base:: ; border-radius: 5px;"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <!--end dash-->
                            <tr>
                                <td height="15"></td>
                            </tr>
                            <!--headline-->
                            <tr>
                                <td class="fallback-font" align="center" style="font-family:'Montserrat', Arial, 'sans-serif'; text-transform: capitalize; font-size: 24px;color: #000000;">
                                    YOU HAVE REDEEMED!
                                </td>
                            </tr>
                            <!--end headline-->
                            <tr>
                                <td height="5"></td>
                            </tr>
                            <!--sub headline-->

                                                    </table>
                    </td>
                </tr>
                <tr>
                    <td height="25"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--end headline-->
        
        <!-- 1/1 content -->
<table  width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">
            <table bgcolor="#ffffff" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="600">
                        <table  class="table-inner" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tr>
                                <td align="center" style="text-align:center;vertical-align:top;font-size:0;">
                                    <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td height="15"></td>
                                        </tr>
                                        <!--content-->
										  <tr>
                                            <td align="center" style="font-family:'Open Sans', Arial, 'sans-serif'; font-size: 14px;color: #122333; line-height: 28px;">
												 <b style="font-weight: bold;"> 
												 Hello ::nombre_completo::</b></td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="font-family:'Open Sans', Arial, 'sans-serif'; font-size: 14px;color: #122333; line-height: 28px;">
												You have successfully reedemed ::sucursal_nombre:: ::fecha_actual::.</td>
                                        </tr>
				
										                                                        <tr>
                                                            <td height="40"></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="1" style="border-bottom: solid 1px ::color_base:: "></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="20"></td>
                                                        </tr>
										<tr>
                                            <td align="center" style="font-family:'Open Sans', Arial, 'sans-serif'; font-size: 12px; color: #666666; line-height: 28px;">
												Total reedemed: <b>::total_redimido::</b>:
                                        </tr>
																				 <tr>
                                            <td align="center" style="font-family:'Open Sans', Arial, 'sans-serif'; font-size: 12px; color: #666666; line-height: 28px;">
												You have <b> ::premios_disponibles:: </b> products left on your account 
												</td>
                                        </tr>

																				 <tr>
                                         				                                        <tr>
                                                      <td align="center" style="font-family:'Open Sans', Arial, 'sans-serif'; font-size: 12px; color: #666666; line-height: 28px;">
												Transaction number: <b>::num_transaccion::</b>
												</td>
                                        </tr>
                                        <!--end content-->
                                        <tr>
                                            <td height="15"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

								::premios_tabla::
