
<!--footer-->
<table  width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">
            <table border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="600px">
                        <table  width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tr>

                                <td align="center" style="text-align:center;vertical-align:top;font-size:0;">
                                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <!-- title -->
                                        
                                        <tr bgcolor="#ffffff">
                                            <td width="100%" align="center">
                                                <table width="100%"  align="center" border="0" cellpadding="0" cellspacing="0" style="background:#ffffff;">
                                                    <tr>
                                                        <td height="40"></td>
                                                    </tr>
                                                    <tr>
                                                        <td height="1" style="border-bottom: solid 1px ::color_base:: "></td>
                                                    </tr>
                                                    <tr>
                                                        <td height="20"></td>
                                                    </tr>
                                                    <!--content-->
                                                    <tr>
                                                        <td align="center" style="font-family:'Open Sans', Arial, 'sans-serif'; font-size: 14px;color: #122333; line-height: 28px;">
                                                            Descargue nuestro App
                                                        </td>
                                                    </tr>
                                                    <!--end content-->
                                                    <tr>
                                                        <td height="10"></td>
                                                    </tr>
                                                    <!--download app-->
                                                    <tr>
                                                        <td class="fallback-font" style="font-family:'Montserrat', Arial, 'sans-serif'; font-size: 18px;color: ::color_base:: ;font-weight: bold;">
                                                            <table width="320" border="0" align="center" cellpadding="0" cellspacing="0" style="width: 320px; text-align: center;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <table border="0" align="center" cellpadding="0" cellspacing="0">
                                                                                <tr>
                                                                                    <td align="center" style="line-height: 0px;">
                                                                                        <a href="::url_appstore::" target="_blank" title="App Store">
                                                                                            <img style="display:block; line-height:0px; font-size:0px; border:0px;" src="::img_appstore::" alt="img" />
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                        <td>
                                                                            <table border="0" align="center" cellpadding="0" cellspacing="0">
                                                                                <tr>
                                                                                    <td align="center" style="line-height: 0px;">
                                                                                        <a href="::url_playstore::" target="_blank" title="Google Play">
                                                                                            <img style="display:block; line-height:0px; font-size:0px; border:0px;" src="::img_playstore::" alt="img" />
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <!--end download app-->
                                                    <tr>
                                                        <td height="20"></td>
                                                    </tr>
                                                    <!--content-->
                                                    <tr>
                                                        <td align="center" style="font-family:'Open Sans', Arial, 'sans-serif'; font-size: 14px; color: ::color_base:: ; line-height: 28px;  display:  ::display_type::">
                                                            Visítenos en <a href="::url_visita::" style="font-family:'Open Sans', Arial, 'sans-serif'; font-size: 14px; color: #000000; text-decoration: underline;">::url_visita::</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="15"></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" style="font-family:'Open Sans', Arial, 'sans-serif'; font-size: 14px; color: ::color_base:: ; line-height: 28px;">

                                                            <table border="0" align="center" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    
                                                                    <td align="center" style="line-height: 0px;">
                                                                        ::tabla_redes_sociales::
                                                                    </td>
                                                                </tr>
                                                            </table>

                                                        </td>
                                                    </tr>
                                                    <!--end content-->
                                                    <tr>
                                                        <td height="20"></td>
                                                    </tr>

                                                </table>
                                            </td>
                                        </tr>
                                        <!-- end title -->
                                        <tr>
                                            <td height="5"></td>
                                        </tr>
                                        <!--content-->
                                        <tr>
                                            <td  width="100%">
                                                <table  width="100%" border="0" cellpadding="0" cellspacing="0" >
                                                    <!--title-->
                                                    <tr>
                                                        <td style="line-height: 0px;">
                                                            <a href="::pagina_lealto::" target="_blank" title="Lealto">
                                                                <img style="display:block; line-height:0px; font-size:0px; border:0px; width: 100px" src="::logo_lealto::" alt="img" />
                                                            </a>
                                                        </td>

                                                        <td align="right" style=" font-family:'Open Sans', Arial, 'sans-serif'; font-size: 12px; color: #000000; margin-left:2px; margin-right:7px">
                                                            más información en 
                                                            <a href="::pagina_lealto::" target="_blank" title="Lealto" style="text-decoration: underline; color: #000000;"> ::pagina_lealto_www::  </a> 
                                                        </td>
                                                        
                                                        <td align="right">
                                                            <span style="font-family:'Open Sans', Arial, 'sans-serif'; font-size: 12px; color: #000000;" > 
                                                                Copyright ::year::. Baum Digital   
                                                            </span>

                                                        </td>
                                                    </tr>                             
                                                    <!--end content-->
                                                </table>
                                            </td>
                                        </tr>
                                        <!--end content-->
                                        <tr>
                                            <td height="30"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="25"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--end footer-->
</body>
</html>
